.resultados {
            display: flex;
            justify-content: center; /* Centra horizontalmente */
            align-items: center;     /* Centra verticalmente */
            height: 100vh;           /* Establece la altura para cubrir toda la pantalla */
            text-align: center;      /* Alinea el texto dentro de los elementos */
            flex-direction: column;
body{background-color:yellow};
